.TreeRow {
  svg {
    transform: rotate(-90deg);
  }

  background-color: #e0e0e066;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  padding-left: 1rem;

  .displayed {
    margin-left: calc(var(--level) * 1rem);
  }

  .expanded {
    svg {
      transform: rotate(0deg);
      transition-duration: 0.1s;
    }
  }

  .hide {
    visibility: hidden;
  }
}
